.all {
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}

.backpic_gameboy{
  background-image:url(../img/pokemon.png),url(../img/switch.jpg);
  background-repeat: no-repeat;
  background-position: 50% 23.5%,50% 0;
  height: 800px;
  position: relative;
}

/* .title {
    text-align: center;
} */

.your_name {
  position:absolute;
  font-size: 22px;
  top: 110px;
  margin-left: 28.5%;
}

.my_name {
  position:absolute;
  font-size: 22px;
  top: 255px;
  margin-left: 54%;
}

.exp_area {
    position:absolute;
    width: 1000px;
    top: 360px;
    margin-left: 23%;
}

.chose_command_top {
  position:absolute;
  top: 360px;
  left: 650px;
  height: 50px;
  width: 600px;
  margin: 0;
}
.chose_command_buttom {
  position:absolute;
  top: 400px;
  left: 650px;
  height: 30px;
  margin: 0;
}
.command1 {
  padding-left: 20px;
  padding-right: 20px;
}

.command2 {
  padding-left: 20px;
  padding-right: 20px;
}
.command3 {
  padding-left: 20px;
  padding-right: 20px;
}
.command4 {
  padding-left: 20px;
  padding-right: 20px;
}

.command3 {
    /* text-align: right; */
    margin: 0;
}

.pic_aite {
    position:absolute;
    top: 120px;
    right: 390px;
    animation: slideinRight 3s;
    height: 150px;
    width: 150px;

}

@keyframes slideinRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

.pic_jibun {
    position:absolute;
    top: 230px;
    left: 390px;
    animation: slideinLeft 3s;
    height: 150px;
    width: 150px;

}

@keyframes slideinLeft {
    from {
      transform: translateX(-200px);
    }
    to {
      transform: translateX(0);
    }
  }

  /* 各ボタンの装飾、位置関係 */
.Abutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 163px;
  left: 1040px;
  border-radius:100%;
}

.Bbutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 195px;
  left: 1010px;
  border-radius:100%;
}
.Xbutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 130px;
  left: 1010px;
  border-radius:100%;
}
.Ybutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 163px;
  left: 972px;
  border-radius:100%;
}

.Rbutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 280px;
  left: 178px;
  border-radius:100%;
}

.Lbutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 280px;
  left: 108px;
  border-radius:100%;
}

.Ubutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 250px;
  left: 142px;
  border-radius:100%;
}

.Dbutton {
  position: absolute;
  background-color: #333333;
  color: white;
  width: 42px;
  height: 42px;
  top: 310px;
  left: 142px;
  border-radius:100%;
}


/* じゃんけんの手の表示位置、サイズ調整 */
  #myhand {
    position: absolute;
    width: 150px;
    top: 220px;
    left: 470px;
  }

  #yourhand {
    position: absolute;
    width: 150px;
    top: 120px;
    right: 470px;
  }